{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <form method="post">
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% csrf_token %}
    <img class="mb-4" src="{% static 'assets/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Log In</h1>

    {% for field in form %}
      <div class="form-floating mb-3">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
    {% endfor %}
    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>

    <p>Don't Have an Account? <a href="{% url 'AccountApp:ViewSignup' %}">Signup here</a></p>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2020–2024</p>
  </form>
</main>
{% endblock content %}
