{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container">
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div
            class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% elif message.tags == 'warning' %}warning{% endif %} alert-dismissible fade show"
            role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-signin w-100 m-auto">
        <form method="post">
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% csrf_token %}
            <img class="mb-4" src="{% static 'assets/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>

            {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            {% endfor %}

            <div class="form-check text-start my-3">

            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
            <p>Already Signed Up? <a href="{% url 'AccountApp:ViewLogin' %}">Login here</a></p>

            <p class="mt-5 mb-3 text-body-secondary">&copy; 2020–2024</p>
        </form>
    </div>
</main>
{% endblock content %}
