{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 text-center">
                    <label for="cke_id_content" class="form-label"><strong>Post Content</strong></label>
                    {{ form.media }}
                    {{ form.content }}
                </div>
                <div class="mb-3 text-center">
                    <label for="id_type_of_post" class="form-label"><strong>Type of Post</strong></label>
                    {{ form.type_of_post }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
